body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 130px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: rgb(217, 198, 171);
}

#orderBtn {
  padding: 10px 20px;
  background-color: green;
}

.hero {
  background-image: url("https://picsum.photos/1500/600");
  background-size: cover;
  color: white;
  padding: 100px, 20px;
  text-align: center;
}

.menu,
.about,
.contact {
  padding: 40px 20px;
  text-align: center;
}
.menu ul li {
  list-style-type: none;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact input,
.contact textarea {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.contact button {
  padding: 10px 20px;
  width: 20%;
  display: block;
  margin: 0 auto;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.footer-content {
  background-color: #062703c7;
  color: white;
  padding: 70px 20px;
}
.footer-info {
}

.footer-info nav ul {
  list-style: none;
  display: flex;
  gap: 100px;
}

.footer-info nav ul li a {
  color: rgb(207, 197, 194);
  text-decoration: none;
}
.footer-info nav ul li a:hover {
  text-decoration: underline;
  color: rgb(48, 215, 2);
}

.footer-logo {
  float: left;
  position: relative;
  top: -50px;
}

.footer-adress {
  position: relative;
  top: -50px;
  box-sizing: border-box;
}

.footer-media {
  float: right;
  position: relative;
  top: -140px;
}
